<h2 class="example-heading">Examples</h2>

<div id="examples" class="hidden">
  <div data-title="Basic">'Hello' ' '+ ('world' | 'rulex')</div>
  <div data-title="Boundaries"><% ' '+ | ' '+ %> | % ' '+ %</div>
  <div data-title="Repetition">'hello'{1,5} 'world'* lazy</div>
  <div data-title="Character classes">['acd[]' 'p'-'s'] !['^']</div>
  <div data-title="Unicode">[s U+15 U+FEFF Greek]</div>
  <div data-title="Capturing groups">:([s]) :named([.]) ::named</div>
  <div data-title="Lookaround">(<< 'foo' | 'bar') (!>> 'foo' | 'bar')</div>
  <div data-title="Ranges">range '0'-'255'</div>
  <div data-title="Variables">let x = [digit]+; x '+' x</div>
</div>

<script type="module">
  const examples = document.getElementById('examples')
  const children = [...examples.children]

  let active = 0

  examples.innerHTML = `
  <div class="example-tabs">
    ${children
      .map((child, i) => {
        const title = child.getAttribute('data-title')
        return `<button class="example-tab" data-i="${i}">${title}</button>`
      })
      .join('')}
  </div>
  <div class="example-body">
    <pre class="example-rulex"><code class="language-rulex">${children[0].textContent}</code></pre>
    <pre class="example-regexp"><code class="language-regexp"></code></pre>
  </div>`

  const tabs = [...document.querySelectorAll('.example-tabs > .example-tab')]
  tabs[active].classList.add('active')

  examples.classList.remove('hidden')

  const rulexCode = document.querySelector('.example-rulex > code')
  const regexpCode = document.querySelector('.example-regexp > code')

  function selectTab(n) {
    if (n >= children.length) n -= children.length

    tabs[active].classList.remove('active')
    active = n
    tabs[active].classList.add('active')

    rulexCode.textContent = children[n].textContent
    regexpCode.textContent = compileRulex(children[n].textContent)

    hljs.highlightElement(rulexCode)
    hljs.highlightElement(regexpCode)
  }

  function initExamples() {
    selectTab(0)

    for (const tab of tabs) {
      tab.addEventListener('click', () => {
        selectTab(+tab.getAttribute('data-i'))
        resetInterval()
      })
    }

    let interval

    function resetInterval() {
      if (interval != null) {
        clearInterval(interval)
        interval = null
      }

      setTimeout(() => {
        if (interval != null) {
          clearInterval(interval)
          interval = null
        }

        interval = setInterval(() => selectTab(active + 1), 5000)
      }, 5000)
    }
    resetInterval()
  }

  if (window.compileRulex) {
    initExamples()
  } else {
    window.addEventListener('rulex-initialized', initExamples)
  }
</script>
