/** Custom styles */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Work+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap');

@mixin light-and-dark {
  @content;

  [data-dark-mode] {
    @content;
  }
}

:root {
  --bs-font-sans-serif: 'Work Sans', -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-font-monospace: 'JetBrains Mono', sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;
  --bs-body-font-family: 'Work Sans', -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

pre,
code,
kbd,
samp {
  font-size: 0.88rem;
  font-family: var(--bs-font-monospace);
  font-variant-ligatures: none;

  @media (min-width: 768px) {
    font-size: 0.95rem;
  }
}

.alert {
  font-family: var(--bs-font-sans-serif);
  font-size: 0.95rem;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
.navbar-brand {
  font-weight: 600;
}

.front-logo {
  margin: 1.25rem 0 2.5rem;
  width: 150px;
  filter: drop-shadow(0 20px 15px #7774);
}

main > nav {
  h3 {
    color: #b53636;

    [data-dark-mode] & {
      color: #f4b73d;
    }
  }

  #TableOfContents {
    padding-left: 1rem;
    position: relative;
    margin-bottom: 2rem;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      border-radius: 3px / 5px;
      width: 3px;
      height: 100%;
      background-color: #b53636;

      [data-dark-mode] & {
        background-color: #f4b73d;
      }
    }
  }
}

.header-bar {
  border-image-source: linear-gradient(90deg, #b53636, #f4b73d 50%, #d32e9d);
}

body .btn {
  color: black;

  [data-dark-mode] & {
    color: #ddd;
  }
}

@include light-and-dark {
  body .page-links li:not(:first-child) {
    border: none;
  }

  .section .btn {
    border: 2px solid #f4b73d;

    &.btn-primary {
      &,
      &:visited {
        background-color: #f4b73d;
        border-color: #f4b73d;
        color: black;
      }

      &:hover,
      &:focus {
        background-color: #f0a818;
        border-color: #f0a818;
      }
    }
  }
}

body .btn-toggle-nav a.active,
body .offcanvas .nav-link.active,
body .offcanvas .banner .nav a.active,
.banner .nav body .offcanvas a.active {
  color: #b53636;
}

[data-dark-mode] body .btn-toggle-nav a.active,
[data-dark-mode] body .offcanvas .nav-link.active,
[data-dark-mode] body .offcanvas .banner .nav a.active,
.banner .nav [data-dark-mode] body .offcanvas a.active {
  color: #f4b73d;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
li {
  > code.hljs {
    display: inline;
    padding: 0.25rem 0.5rem !important;
  }
}

///////// HLJS

.hljs-keyword {
  color: #bf3300 !important;
  font-weight: 600 !important;

  [data-dark-mode] & {
    color: #f27447 !important;
  }
}

body .hljs-string {
  color: green !important;

  [data-dark-mode] & {
    color: #b8cc52 !important;
  }
}

.hljs-title,
.hljs-built_in,
.hljs-section {
  color: #004d90 !important;

  [data-dark-mode] & {
    color: #ffbb63 !important;
  }
}

.hljs-number,
.hljs-meta,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #99008c !important;

  [data-dark-mode] & {
    color: #ffa6f6 !important;
  }
}

.example-heading {
  margin-top: 0;
}

#examples {
  margin: 0 0 2rem 0;

  &.hidden * {
    display: none;
  }

  .example-tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;

    @media (min-width: 992px) {
      flex-direction: row;
      margin-bottom: 0;
    }

    button.example-tab {
      background: transparent;
      border: none;
      border-left: 3px solid transparent;
      padding: 0.25rem 0.5rem;
      font-weight: 500 !important;
      color: inherit;
      font: inherit;
      transition: border-bottom-color .5s;
      text-align: left;

      &.active {
        font-weight: 600 !important;
        border-color: #b53636;

        [data-dark-mode] & {
          border-color: #ffbb63
        }
      }

      @media (min-width: 992px) {
        padding: 0.5rem;
        margin: 0 0.5rem;
        border-left: 0;
        border-bottom: 3px solid transparent;
      }
    }
  }

  .example-body {
    display: flex;
    flex-direction: column;
    gap: 0.3rem 0;
    align-items: stretch;
    width: 100%;
    border-radius: 0.4rem;
    overflow: hidden;

    @media (min-width: 992px) {
      flex-direction: row;
    }

    pre {
      margin: 0;
      border-radius: 0;

      @media (min-width: 992px) {
        width: 0;
        flex-grow: 1;
      }

      code {
        border-radius: 0;
        padding: 2.3rem 1.5rem !important;
        font-size: 1.15rem;
        min-height: 100%;
      }

      .btn-copy {
        display: none;
      }


      @media (min-width: 992px) {
        &:first-child::after {
          content: "";
          display: block;
          position: absolute;
          right: 0;
          top: 32px;
          width: 40px;
          height: 40px;
          transform: scaleX(0.67) rotate(45deg);
          border: 8px solid #cac0ae;
          border-width: 8px 8px 0 0;

          [data-dark-mode] & {
            border-color: #353b41
          }
        }
      }

      code::after {
        content: "rulex";
        display: block;
        position: absolute;
        bottom: 0;
        background-color: #eae7e1;
        font: 90% var(--bs-font-sans-serif);
        padding: 0.3rem 0.6rem;
        color: #7c7c7c;
        opacity: 0;
        transition: opacity .3s;

        [data-dark-mode] & {
          background-color: #161616;
          color: #bbb;
        }
      }

      &:hover code::after {
        opacity: 1;
      }

      &:first-child code::after {
        content: "rulex";
        left: 0;
        border-top-right-radius: 0.4rem;
      }

      &:last-child code::after {
        content: "regexp";
        right: 0;
        border-top-left-radius: 0.4rem;
      }
    }
  }
}

.playground {
  position: fixed;
  left: 0;
  top: 4rem;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: white;

  [data-dark-mode] & {
    background-color: #24292d;
  }

  .pg-input, .pg-output {
    width: 0;
    flex-grow: 1;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .pg-input {
    position: relative;
    display: block;
    overflow: auto;

    #rulex-input {
      box-sizing: border-box;
      background-color: transparent;
      color: inherit;
      font: 1.15rem var(--bs-font-monospace);
      font-variant-ligatures: none;
      font-weight: 400;
      border: none;
      margin: 0;
      padding: 1rem 1rem 0 1rem;
      outline: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 100%;
      line-height: 1.4rem;
      color: #777;
      caret-color: black;
      resize: none;

      [data-dark-mode] & {
        caret-color: white;
      }

      &::selection {
        background-color: #7cb0ff;

        [data-dark-mode] & {
          background-color: #00129a;
        }
      }
    }

    .rulex-echo,
    .rulex-echo code {
      font: 1.15rem var(--bs-font-monospace);
      font-variant-ligatures: none;
      font-weight: 400;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      background: transparent;
      pointer-events: none;
      margin: 0;
      padding: 0;
      line-height: 1.4rem;
      white-space: pre-wrap;
    }

    .rulex-echo code {
      position: static;
      padding: 1rem 1rem 0 1rem !important;
    }
  }

  #regexp-output {
    box-shadow: inset 1px 0 0 0 #0001;
    padding: 1rem;
    flex-grow: 1;
    font: 1.15rem var(--bs-font-monospace);
    font-variant-ligatures: none;
    white-space: pre-wrap;
  }

  .btn-copy {
    display: none;
  }

  .error {
    color: #c90000;

    [data-dark-mode] & {
      color: #ff5555;
    }
  }

  .help {
    color: #0046b7;

    [data-dark-mode] & {
      color: #3381ff;
    }
  }
}
